body{
    margin:0;
    background:#eef7f0;
    font-family:"Oswald", Arial, sans-serif;
    background-image: linear-gradient(rgba(4, 30, 66, 0.65), rgba(4, 30, 66, 0.65)), url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWZ2bXp0azUycnFhZTh3amhzNGNpNXJ2bnN2Yjh3dTBqbHcwY2R4NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VmjjnsdJFAmCc6iHmx/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* NAV BAR */

.navbar{
    height:80px;
    background:#bf1212;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 40px;
}

.logo{
    min-height:40px;
    padding-left:70px;
    font-size:36px;
    font-weight:bold;
    color:white;
    text-decoration:none;
    background-image: url("https://www.mlbstatic.com/team-logos/league-on-dark/1.svg");
    background-size:60px 36px;
    background-position:left;
    background-repeat: no-repeat;

}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

.nav-links a:hover{
    color:#d6ffd8;
}

.account-buttons{
    display:flex;
    gap:15px;
}

.account-buttons button{
    padding:10px 20px;
    font-size:16px;
    cursor:pointer;
}

.odds-cell {
    padding: 5px;
}

.odds-button {
    width: 100%;
    padding: 10px 15px;

    border: 1px solid #999;
    border-radius: 5px;

    background-color: lightgreen;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.odds-button:hover {
    background-color: #e0e0e0;
}